
@font-face {
  font-family: "Oleo Script Swash Caps";
  src: url(OleoScriptSwashCaps-Regular.ttf);
}

@font-face {
  font-family: "Oleo Script"; 
  src: url(OleoScript-Regular.ttf);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{ 
  padding: 0;
  margin: 0;
}

#root > * {
  padding: 20px;  
}

#root {
  display: grid;
  grid-template-columns: repeat(12, minmax(0 , 1fr));
}

header {
  grid-column: 1 / 13;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, minmax(0 , 1fr));
}

nav img {
  grid-column: 2/3;
  width: 90%;
  margin: 0 auto;
}

nav a {
  display: block;
  text-align: left;
  text-decoration: none;
  grid-column: 1 / 4;
  background-color: white;
  color: red;
  padding: 5px;
}

nav a:hover {
  background-color: red;
  color: white;
}

footer {
  background-color: black;
  color: white;
  font-family: 'Oleo Script','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  grid-column: 1 / 13;
  text-align: center;
}

main {
  text-align: justify;
  grid-column: 1 / 13;
}

main h2 {
  text-align: center;
  font-family: "Oleo Script", Arial, Helvetica, sans-serif;
}

main a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 7px;
  text-align: center;
}

main a:hover {
  color: red;
  background-color: white;
}